.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
}

@media screen and (max-width: 425px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
    }
} 

.header_lang-link_ru {
  text-decoration: underline;
  margin-right: 18px;
}