.page {
    background-color: #2a2c2f;
    padding: 28px 0 24px;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

@media screen and (max-width: 425px) {
    .page {
      padding-top: 16px;
    }
  }