.places__link {
    margin-bottom: 0;
    width: min-content;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
}

.places__link:hover {
    color: rgba(255, 255, 255, .8);
}