.cover__subtitle {
    margin: 0 auto;
    width: 360px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}