.cover {
    background: url(../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 200px;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .cover {
        margin: 0 48px;
        padding: 245px auto;
        max-width: 1184px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        padding: 195px auto;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        padding: 115px auto;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        padding: 33px auto;
    }
}

