.cover {
    background: url(../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 200px;
    text-align: center;
}