.cover__overlay {
    background-color: rgba(42, 44, 47, 0);
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
}