@import url(../public/vendor/normalize.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__block/header__block.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__image/_main/lead__image_main.css);
@import url(../blocks/lead/__image/_maps/lead__image_maps.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_span/intro__list_span.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__place/_block/places__place_block.css);
@import url(../blocks/places/__place/_head/places__place_head.css);
@import url(../blocks/places/__place/_title/places__place_title.css);
@import url(../blocks/places/__place/_website/places__place_website.css);
@import url(../blocks/places/__place/_url-heading/places__place_url-heading.css);
@import url(../blocks/places/__place/_link/places__place_link.css);
@import url(../blocks/places/__place/_main/places__place_main.css);
@import url(../blocks/places/__place/_image/places__place_image.css);
@import url(../blocks/places/__place/_text-block/places__place_text-block.css);
@import url(../blocks/places/__place/_paragraph/places__place_paragraph.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__text-block/cover__text-block.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__list-item/footer__list-item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@font-face {
    src: url(../public/fonts/Inter/Inter-ExtraLight.woff) format('woff'),
         url(../public/fonts/Inter/Inter-ExtraLight.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: normal;
  } 
  
  @font-face {
    src: url(../public/fonts/Inter/Inter-Bold.woff) format('woff'),
         url(../public/fonts/Inter/Inter-Bold.woff2) format('woff2');
    font-family: 'Inter';
    font-weight: bold;
  }