.places__block {
    margin-bottom: 80px;
}

.places__block:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places__block {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 425px) {
    .places__block {
        margin-bottom: 50px;
    }
}